* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #3f464d;
  font-family: "Spoqa Han Sans Neo", "Sans-serif";
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}

a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
  text-decoration: none;
  color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: #3f464d;
}

.inner {
  width: 100%; 
  height: 100%; 
  margin: 0 auto; 
  padding: 0rem 2rem; 
  overflow: hidden; 
}

header {
  width: 100%;
  height: 60px;
  background-color: #F7F8FC;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-container .head-brand {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: #2186c4;
  cursor: pointer;
}

section {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.title-container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.8rem;
}

/* Controller Buttons */
.button_left {
  position: absolute;
  left: 0;
  margin: 0;
  top: 55%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.button_right {
  position: absolute;
  right: 0;
  margin: 0;
  top: 55%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

button:focus {
  outline: none;
}

button:hover i {
  color: #636363;
}

i {
  font-size: 50px;
  color: gray;
}

.select-category {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  justify-content: center;
  border-bottom: 2px solid rgb(87, 136, 209);
}

.class-card {
  width: 140px;
  border-radius: 8px;
  margin: 0 30px;
  flex-shrink: 0;
  border-bottom: 2px solid rgb(87, 136, 209);
  border-top: 2px solid rgb(87, 136, 209);
}

.class-image {
  max-width: 150x;
  max-height: 150px;
  border-radius: 8px 8px 0 0;
  object-fit: contain;
}

.class-container {
  width: 100%;
  padding: 0rem 0rem 0rem rem;
}

.class-desc {
  width: 100%;
  color: #545e6f;
}

.class-desc:hover {
  color: #2186c4;
}

.class-title_1 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.class-title_2 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.class-title_3 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.select-container {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0rem 5rem 0rem 0rem;
}

.select-image_1 {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: contain;
  margin-left: 3rem;
}

.select-image_2 {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: contain;
  margin-left: 3rem;
}

.select-image_3 {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: contain;
  margin-left: 3rem;
}

.select-title_1 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.select-title_2 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.select-title_3 {
  font-weight: bold;
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.select-title_1:hover,
.select-title_2:hover,
.select-title_3:hover
 {
  color: #2186c4;
}

  /* Controller Buttons */
  .button_left {
    position: absolute;
    left: -280px;
    margin: 0;
    top: 45%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
  }

  .button_right {
    position: absolute;
    right: -280px;
    margin: 0;
    top: 45%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
  }

  button:focus {
    outline: none;
  }

  button:hover i {
    color: #636363;
  }

  i {
    font-size: 50px;
    color: gray;
  }

.slick-prev:before,
.slick-next:before {
  color: gray !important;
  font-size: 45px !important; 
}

.slick-arrow:before {
  color: gray !important;
  font-size: 45px !important; 
}

.footer-container {
  width: 100%;
  height: 100px;
  border-top: 2px solid rgb(87, 136, 209);
}

li a:hover {
  cursor: pointer;
}

ul li img:hover {
  cursor: grab; 
}

ul li img:active {
  cursor: grabbing;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .button_left {
    margin-left: 250px;
  }
  .button_right {
    margin-right: 250px;
  }
}